* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
html,
body {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 20;
  background-color: #333;
  font-family: monospace;
  letter-spacing: 10px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #7d7d7d;
}
#L {
  animation: blur-text 2s 0s infinite;
  animation-direction: normal;
}
#O {
  animation: blur-text 2s 0.2s infinite;
  animation-direction: normal;
}
#A {
  animation: blur-text 2s 0.4s infinite;
  animation-direction: normal;
}
#D {
  animation: blur-text 2s 0.6s infinite;
  animation-direction: normal;
}
#I {
  animation: blur-text 2s 0.8s infinite;
  animation-direction: normal;
}
#N {
  animation: blur-text 2s 1s infinite;
  animation-direction: normal;
}
#G {
  animation: blur-text 2s 1.2s infinite;
  animation-direction: normal;
}
@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  4% {
    filter: blur(4px);
  }
}
#main-p {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: relative;
  z-index: 1;
}
#main {
  width: 100%;
  height: 100vh;
  position: relative;
}
#top {
  width: 100%;
  height: 50vh;
  position: absolute;
  top: 0%;
  background-color: #fff;
  overflow: hidden;
  z-index: 10;
}
#center {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
}
#bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 50vh;
  background-color: #fff;
  overflow: hidden;
}
#main h1 {
  font-size: 20vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#top-h {
  margin-top: 40px;
  bottom: 100% !important;
}
#bottom-h {
  top: 0% !important;
}
.content {
  position: absolute;
  margin-top: 100vh;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content h2 {
  font-family: sans-serif !important;
  font-size: 60px;
  width: 70%;
}
